BEGIN;
SELECT setval(pg_get_serial_sequence('"dentfact_importes"','id'), coalesce(max("id"), 1), max("id") IS NOT null) FROM "dentfact_importes";
SELECT setval(pg_get_serial_sequence('"dentfact_factura_v"','id'), coalesce(max("id"), 1), max("id") IS NOT null) FROM "dentfact_factura_v";
SELECT setval(pg_get_serial_sequence('"dentfact_docpercent"','id'), coalesce(max("id"), 1), max("id") IS NOT null) FROM "dentfact_docpercent";
SELECT setval(pg_get_serial_sequence('"dentfact_sociedad"','ID_SOC'), coalesce(max("ID_SOC"), 1), max("ID_SOC") IS NOT null) FROM "dentfact_sociedad";
SELECT setval(pg_get_serial_sequence('"authentication_profile"','id'), coalesce(max("id"), 1), max("id") IS NOT null) FROM "authentication_profile";
SELECT setval(pg_get_serial_sequence('"auth_permission"','id'), coalesce(max("id"), 1), max("id") IS NOT null) FROM "auth_permission";
SELECT setval(pg_get_serial_sequence('"auth_group_permissions"','id'), coalesce(max("id"), 1), max("id") IS NOT null) FROM "auth_group_permissions";
SELECT setval(pg_get_serial_sequence('"auth_group"','id'), coalesce(max("id"), 1), max("id") IS NOT null) FROM "auth_group";
SELECT setval(pg_get_serial_sequence('"auth_user_groups"','id'), coalesce(max("id"), 1), max("id") IS NOT null) FROM "auth_user_groups";
SELECT setval(pg_get_serial_sequence('"auth_user_user_permissions"','id'), coalesce(max("id"), 1), max("id") IS NOT null) FROM "auth_user_user_permissions";
SELECT setval(pg_get_serial_sequence('"auth_user"','id'), coalesce(max("id"), 1), max("id") IS NOT null) FROM "auth_user";
SELECT setval(pg_get_serial_sequence('"django_admin_log"','id'), coalesce(max("id"), 1), max("id") IS NOT null) FROM "django_admin_log";
COMMIT;
