<footer class="footer">
    <div class="container-fluid">
        <nav class="float-left">
            <ul class="nav">
                <li class="nav-item">
                    <a class="nav-link" 
                       href="{% url 'home:dashboard' %}" 
                       title="DENTFACT">DENTFACT
                    </a>
                </li>
            </ul>
        </nav>
        <div class="copyright ml-auto" style="color: white; font-weight: bold;">
            © <a target="_blank" href="https://www.serviapymes.es" style="color: white; font-weight: bold;">2024</a> 
            - coded by <a target="_blank" href="https://www.serviapymes.es" style="color: white; font-weight: bold;">Serviapymes</a>
        </div>
    </div>
</footer>