
		<div class="main-header">

			<!-- Logo Header -->
			<div class="logo-header" data-background-color="dark2">
					<a href="{% url 'home:dashboard' %}"></a>	
					<img src="/static/assets/img/dentfact.jpg" alt="navbar brand" class="navbar-brand">
					<span style="color: white; font-weight: bold; margin-left: 10px;">DENTFACT</span>
					</a>
				
				<button class="navbar-toggler sidenav-toggler ml-auto" type="button" data-toggle="collapse" data-target="collapse" aria-expanded="false" aria-label="Toggle navigation">
					<span class="navbar-toggler-icon">
						<i class="icon-menu"></i>
					</span>
				</button>
				<button class="topbar-toggler more"><i class="icon-options-vertical"></i></button>
				<div class="nav-toggle">
					<button class="btn btn-toggle toggle-sidebar">
						<i class="icon-menu"></i>
					</button>
				</div>
			</div>
			<!-- End Logo Header -->

			<!-- Navbar Header -->
			<nav class="navbar navbar-header navbar-expand-lg" data-background-color="dark">
				<h2 class="mx-auto" style="color: white; font-family: Verdana, Geneva, Tahoma, sans-serif; font-weight: bold; text-align: center; font-size: 24px;">
					GESTION DE FACTURAS DENTALES
				</h2>
			</nav>
			
			
			<!-- End Navbar -->
        </div>
        