{% extends "base.html" %}

{% block title %}Reset Password{% endblock %}

{% block content %}
    <div class="page-inner">
        <div class="page-header">
            <h4 class="page-title">Reset Password</h4>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header">
                        <div class="card-title">Enter your email</div>
                    </div>
                    <form method="post">
                        {% csrf_token %}
                        <div class="card-body">
                            {{ form.as_p }}
                        </div>
                        <div class="card-action">
                            <button type="submit" class="btn btn-success">Send Reset Link</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock %}